doctype html
html
	head
		title Admin
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="csrf-token", content=token)
		meta(name="viewport", content="initial-scale=1.0, maximum-scale=1.0")
		link(rel="stylesheet", type="text/css", href="/css/common.css")
		script(data-main="/js/main" src="/js/lib/require.js")
	body
		main.hide
		#modals-container
		#page-loader
			i.fa.fa-spinner.fa-spin.fa-5x