.form-group
	label(for="name").col-lg-3.col-sm-3.control-label <%-i18n.t('common:name')%>
	.col-lg-9
		input#name.form-control(type="text", placeholder!="<%-i18n.t('common:name')%>")

.form-group
	label(for="parentId").col-lg-3.col-sm-3.control-label <%-i18n.t('common:parent')%>
	.col-lg-9
		input#parentId.form-control.select2(type="text", placeholder!="<%-i18n.t('common:parent')%>", data-url="/api/roles", data-allow-clear="true")

.form-group
	label(for="permissions").col-lg-3.col-sm-3.control-label <%-i18n.t('common:permissions')%>
	.col-lg-9
		input#permissions.form-control.select2(type="text", placeholder!="<%-i18n.t('common:permissions')%>", data-url="/api/permissions", data-multiple="true")

.form-group.form-buttons
	.col-lg-offset-3.col-lg-9
		button.btn.btn-info(type="submit") <%-i18n.t('common:actions.save')%>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.cancel')%>