.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:name')%>
	.col-lg-9
		p.form-control-static <%-data.name%>

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:created')%>
	.col-lg-9
		p.form-control-static <%-moment(data.created).format(i18n.t('common:locale.datetime'))%>

| <% if(data.modified) { %>
.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:modified')%>
	.col-lg-9
		p.form-control-static <%-moment(data.modified).format(i18n.t('common:locale.datetime'))%>
| <% } %>

.form-group
	.col-lg-offset-3.col-lg-9
		| <% if(helpers.checkPermissions("roles.edit")) { %>
		a(href!="/roles/<%-data.id%>/edit").btn.btn-info <%-i18n.t('common:actions.edit')%>
		| <% } %>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.close')%>