<% if(data.children.length) { %>
.tree-folder-header
	i.fa.fa-sitemap
	.tree-folder-name
		h4 <%-data.name%>
		.btn-group.pull-right
			a(href!="/roles/<%-data.id%>/view").btn.btn-success.btn-xs
				i.fa.fa-search
				|  <%-i18n.t("common:actions.view")%>
			button.btn.btn-success.dropdown-toggle.btn-xs(data-toggle="dropdown", type="button")
				span.caret
			ul.dropdown-menu.pull-right(role="menu")
				li.edit
					a(href!="/roles/<%-data.id%>/edit")
						i.fa.fa-edit
						|  <%-i18n.t('common:actions.edit')%>
				li.remove
					a(href="#", data-id!="<%-data.id%>") 
						i.fa.fa-close
						|  <%-i18n.t('common:actions.delete')%>
.tree-folder-content
<% } else { %>
i.fa.fa-sitemap
.tree-item-name
	h4 <%-data.name%>
	.btn-group.pull-right
		a(href!="/roles/<%-data.id%>/view").btn.btn-success.btn-xs
			i.fa.fa-search
			|  <%-i18n.t("common:actions.view")%>
		button.btn.btn-success.dropdown-toggle.btn-xs(data-toggle="dropdown", type="button")
			span.caret
		ul.dropdown-menu.pull-right(role="menu")
			li.edit
				a(href!="/roles/<%-data.id%>/edit") 
					i.fa.fa-edit
					|  <%-i18n.t('common:actions.edit')%>
			li.remove
				a(href="#", data-id!="<%-data.id%>") 
					i.fa.fa-close
					|  <%-i18n.t('common:actions.delete')%>
<% } %>