a.dropdown-toggle(href="#", data-toggle="dropdown")
	span.username
		i.fa.fa-user
		|  <%-helpers.userName(data)%>
	| &nbsp;
	b.caret
ul.dropdown-menu.extended.logout
	li
		a(href="/logout")
			i.fa.fa-key
			|  <%-i18n.t('common:session.logout')%>