include ../../controls

.form-group
	label(for="name").col-lg-3.col-sm-3.control-label <%-i18n.t('common:name')%>
	.col-lg-9
		input#name.form-control(type="text", placeholder!="<%-i18n.t('common:name')%>")

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:links')%>
	.col-lg-9
		+multiinput("links")

.form-group.form-buttons
	.col-lg-offset-3.col-lg-9
		button.btn.btn-info(type="submit") <%-i18n.t('common:actions.save')%>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.cancel')%>