.col-lg-3
	input.form-control.select2(type="text", name="shop", placeholder!="<%-i18n.t('common:entities.shop')%>", data-allow-clear="true")
.col-lg-9
	input.form-control(type="text", name="url", placeholder!="<%-i18n.t('common:url')%>")