include ../../controls

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:name')%>
	.col-lg-9
		p.form-control-static <%-data.name%>

| <% if(data.links) { %>
| <%_.each(data.links, function(item, index, list) {%>
.form-group
	label.col-lg-3.col-sm-3.control-label 
		| <% var shop = item.shop; %>
		+shop
	.col-lg-9
		p.form-control-static
			a(href!="<%-item.url%>", target="_blank") <%-item.url%>
| <% }) %>
| <% } %>

.form-group
	.col-lg-offset-3.col-lg-9
		| <% if(helpers.checkPermissions("goods.edit")) { %>
		a(href!="/goods/<%-data.id%>/edit").btn.btn-info <%-i18n.t('common:actions.edit')%>
		| <% } %>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.close')%>