mixin multiinput(id)
	.multiinput(id=id)

mixin stateInput
	select#state.select2.form-control(data-placeholder!="<%-i18n.t('common:state')%>")
		option(value="SAVED") <%-i18n.t('common:states.saved')%>
		option(value="INPROGRESS") <%-i18n.t('common:states.inprogress')%>
		option(value="DENIED") <%-i18n.t('common:states.denied')%>
		option(value="SUCCESSFUL") <%-i18n.t('common:states.successful')%>

mixin user
	| <% if(helpers.checkPermissions("users.view")) { %> 
	a(href!="/users/<%-user.id%>/view")
		i.fa.fa-user
		|  <%-user.name || user.login%>
	| <% } else { %>
	i.fa.fa-user
	|  <%-user.name || user.login%>
	| <% } %>

mixin shop
	| <% if(helpers.checkPermissions("shops.view")) { %> 
	a(href!="/shops/<%-shop.id%>/view")
		i.fa.fa-shopping-cart
		|  <%-shop.name%>
	| <% } else { %>
	i.fa.fa-shopping-cart
	|  <%-shop.name%>
	| <% } %>