h2.form-signin-heading
	| <%-i18n.t('common:session.signin')%>
.login-wrap
	.user-login-info
		.form-group
			input.form-control(name="login", type="text", placeholder!="<%-i18n.t('common:login')%>", autofocus)
		.form-group
			input.form-control(name="password", type="password", placeholder!="<%-i18n.t('common:password')%>")
	label.checkbox
		input(type="checkbox", name="rememberme", value="true")
		| <%-i18n.t('common:session.rememberme')%>
	.form-error
	button.btn.btn-lg.btn-login.btn-block(type="submit") <%-i18n.t('common:session.signin', {context: 'action'})%>