.text-center.table-actions
	| <% if(data.allowEdit || data.allowRemove) { %>
	.btn-group
		a(href!="<%-data.baseUrl%>/<%-data.entityName%>/<%-data.item.id%>/view").btn.btn-success.btn-xs
			i.fa.fa-search
			|  <%-i18n.t("common:actions.view")%>
		button.btn.btn-success.dropdown-toggle.btn-xs(data-toggle="dropdown", type="button")
			span.caret
		ul.dropdown-menu.pull-right(role="menu")
			li(class!="<%-data.allowEdit?'':'disabled'%>")
				a(href!="<%-data.baseUrl%>/<%-data.entityName%>/<%-data.item.id%>/edit", class!="<%-data.allowEdit?'':'disabled'%>") 
					i.fa.fa-edit
					|  <%-i18n.t('common:actions.edit')%>
			li(class!="<%-data.allowRemove?'':'disabled'%>")
				a(href="#", data-id!="<%-data.item.id%>", class!="<%-data.allowRemove?'':'disabled'%>") 
					i.fa.fa-close
					|  <%-i18n.t('common:actions.delete')%>
	| <% } else { %>
	a(href!="<%-data.baseUrl%>/<%-data.entityName%>/<%-data.item.id%>/view").btn.btn-success.btn-xs
		i.fa.fa-search
		|  <%-i18n.t("common:actions.view")%>
	| <% } %>