a.dropdown-toggle(href="#", data-toggle="dropdown", data-hover="dropdown", data-close-others="true")
	img(src!="/img/lang/<%-data.current.lang%>.png", alt!="<%-data.current.lang%>")
	span.username 
		|  <%-data.current.name%>
	| &nbsp;
	b.caret
ul.dropdown-menu
	| <% _.each(data.langs, function(name, index) { %>
	li(class!="<%-index == data.lang ? 'active' : ''%>")
		a(href="#", data-lang!="<%-index%>")
			img(src!="/img/lang/<%-index%>.png")
			|  <%-name%>
	| <% }); %>