.form-group
	label(for="email").col-lg-3.col-sm-3.control-label <%-i18n.t('common:email')%>
	.col-lg-9
		input#email.form-control(type="text", placeholder!="<%-i18n.t('common:email')%>")

.form-group
	label(for="name").col-lg-3.col-sm-3.control-label <%-i18n.t('common:name', {context: 'person'})%>
	.col-lg-9
		input#name.form-control(type="text", placeholder!="<%-i18n.t('common:name', {context: 'person'})%>")

.form-group
	label(for="login").col-lg-3.col-sm-3.control-label <%-i18n.t('common:login')%>
	.col-lg-9
		input#login.form-control(type="text", placeholder!="<%-i18n.t('common:login')%>")

.form-group
	label(for="password").col-lg-3.col-sm-3.control-label <%-i18n.t('common:password')%>
	.col-lg-9
		input#password.form-control(type="password", placeholder!="<%-i18n.t('common:password')%>")

.form-group
	label(for="passwordConfirm").col-lg-3.col-sm-3.control-label <%-i18n.t('common:passwordConfirm')%>
	.col-lg-9
		input#passwordConfirm.form-control(type="password", placeholder!="<%-i18n.t('common:passwordConfirm')%>")

.form-group
	label(for="roles").col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.roles')%>
	.col-lg-9
		input#roles.form-control.select2(type="text", placeholder!="<%-i18n.t('entities.roles')%>", data-url="/api/roles", data-multiple="true")

.form-group.form-buttons
	.col-lg-offset-3.col-lg-9
		button.btn.btn-info(type="submit") <%-i18n.t('common:actions.save')%>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.cancel')%>