.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:name')%>
	.col-lg-9
		p.form-control-static <%-data.name%>

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:selector')%>
	.col-lg-9
		p.form-control-static <%-data.selector%>

.form-group
	.col-lg-offset-3.col-lg-9
		| <% if(helpers.checkPermissions("shops.edit")) { %>
		a(href!="/shops/<%-data.id%>/edit").btn.btn-info <%-i18n.t('common:actions.edit')%>
		| <% } %>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.close')%>