.form-group
	.col-lg-offset-3.col-lg-9
		| <% if(helpers.checkPermissions("edit")) { %>
		a(href!="<%-data.baseUrl%>/<%-data.id%>/edit").btn.btn-info <%-i18n.t('common:actions.edit')%>
		| <% } %>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.close')%>