.modal-dialog
	.modal-content
		.modal-header
			button.close(type="button", data-dismiss="modal") 
				i.fa.fa-close
			h4.modal-title.text-primary <%-i18n.t(data.title)%>
		.modal-body.clearfix.text-primary
			i.fa.fa-info-circle.fa-5x.pull-left
			| <% if(data.content) { %>
			| <% if(_.isObject(data.content)) { %>
			| <%=i18n.t.call(null, data.content.key, data.content.options)%>
			| <% } else { %>
			| <%=i18n.t(data.content)%>
			| <% } %>
			| <% } %>
		.modal-footer
			button.btn.confirm.btn-info(type="button") <%-i18n.t(data.successText)%>