.modal-dialog
	.modal-content
		.modal-header
			button.close(type="button", data-dismiss="modal") 
				i.fa.fa-close
			h4.modal-title <%-i18n.t(data.title)%>
		.modal-body.clearfix
			| <% if(data.content) { %>
			| <%-i18n.t(data.content)%>
			| <% } %>
		.modal-footer
			button.btn.btn-default.btn-clean(type="button", data-dismiss="modal") <%-i18n.t(data.cancelText)%>
			button.btn.confirm(type="button", class!="<%-('btn-' + data.successColor)%>") <%-i18n.t(data.successText)%>