li
	a(href!="#<%-data.id%>", data-toggle="tab", data-region-name!="<%-data.regionName%>")
		| <% if(data.icon) { %>
		i.fa(class!="fa-<%-data.icon%>")
		| &nbsp;
		| <% } %>
		| <% if(data.title) { %>
		<%-i18n.t(data.title)%>
		| <% } %>