.modal-dialog
	.modal-content
		.modal-header
			button.close(type="button", data-dismiss="modal") 
				i.fa.fa-close
			h4.modal-title.text-warning <%-i18n.t(data.title)%>
		.modal-body.clearfix.text-warning
			i.fa.fa-warning.fa-5x.pull-left
			| <% if(data.content) { %>
			| <%-i18n.t(data.content)%>
			| <% } %>
		.modal-footer
			button.btn.confirm.btn-warning(type="button") <%-i18n.t(data.successText)%>