| <% if (data.active) { %>
| <% if (data.icon) { %>
i.fa(class!="fa-<%-data.icon%>")
| <% } %>
| <% if(data.translate === false) { %>
| <%-_.trim(data.name)%>
| <% } else { %>
| <%-_.trim(i18n.t(data.name, {context: "breadcrumbs"}))%>
| <% } %>
| <% } else { %>
a(href!="<%-data.url%>")
	| <% if (data.icon) { %>
	i.fa(class!="fa-<%-data.icon%>")
	| <% } %>
	| <% if(data.translate === false) { %>
	| <%-_.trim(data.name)%>
	| <% } else { %>
	| <%-_.trim(i18n.t(data.name, {context: "breadcrumbs"}))%>
	| <% } %>
| <% } %>