.profile-nav {

    section {
        padding-bottom: 50px;
    }

    ul.clock {
        position: relative;
        width: 185px;
        height: 185px;
        margin: -95px auto 0;
        background: url(../img/clock/clockface.png) no-repeat;
        list-style: none;

        li {
            border: none;
        }

        .sec, .min, .hour {
            position: absolute;
            width: 15px;
            height: 185px;
            top: 0px;
            left: 83px;
        }

        .sec {
            background: url(../img/clock/sechand.png);
            z-index: 3;
            overflow: hidden;
        }

        .min {
            background: url(../img/clock/minhand.png);
            z-index: 2;
        }

        .hour {
            background: url(../img/clock/hourhand.png);
            z-index: 1;
        }
    }
}