@import "/bower_components/bootstrap/less/bootstrap";
@import (less) "/bower_components/jquery-ui/themes/ui-darkness/jquery-ui.css";

@import (less) "../theme/bucketadmin/css/bootstrap-reset.css";

@import "/bower_components/font-awesome/less/font-awesome";

@import (less) "/bower_components/datatables/media/css/jquery.dataTables.css";
@import (less) "/bower_components/datatables-bootstrap3/BS3/assets/css/datatables.css";
@import (less) "../theme/bucketadmin/css/demo_table.css";

@import (less) "../theme/bucketadmin/css/bucket-ico-fonts.css";
@import "fonts";

@import (less) "/bower_components/select2/select2.css";
@import (less) "/bower_components/select2-bootstrap-css/select2-bootstrap.css";

@import (less) "../theme/bucketadmin/css/tree.css";
@import (less) "../theme/bucketadmin/css/tree-style.css";

@import (less) "/bower_components/jasny-bootstrap/less/fileinput";

@import (less) "../theme/bucketadmin/css/style.css";
@import (less) "../theme/bucketadmin/css/style-responsive.css";

@import "/bower_components/bootstrap-datepicker/less/datepicker3";
@import "/bower_components/smalot-bootstrap-datetimepicker/less/datetimepicker";

@import (less) "/bower_components/morris.js/morris.css";

@import "login";

@import "clock";

@import "select2";
@import "datatables";
@import "multiinput";
@import "icheck";
@import "dropzone";

.form-control {
	color: #555555;

	&::-moz-placeholder {
		color: #C2C2C2;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #C2C2C2;
	}
	&::-webkit-input-placeholder {
		color: #C2C2C2;
	}
}

.input-group {
	.input-group-delimeter {
		display: table-cell;
		padding: 6px;
		vertical-align: middle;
		line-height: 1;
	}
}

.main-chart {
	height: 600px;
}

.datepicker {
	padding: 6px 12px;

	&.datepicker-dropdown {
		z-index: 1050 !important;
	}
}

textarea {
	resize: vertical;
}

button {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

#currency {
  margin-top: 0;
}

.tree {
	margin: 15px 0;
	overflow: visible;

	&:before {
		top: 0;
		bottom: 17px;
	}

	h4 {
		margin: 0;
		display: inline-block;
	}

	.tree-folder .tree-folder-content:before {
		bottom: 17px;
	}

	.btn-group {
		display: none;
	}

	.tree-item:hover,
	.tree-folder-header:hover {
		
		.btn-group {
			display: block;
		}
	}
}

.fileinput.simple {
	
	.fileinput-preview {
		margin-left: 5px;
		padding-top: 8px;
		display: inline-block;
		float: right;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 250px;

		img {
			max-width: 50px;
			max-height: 34px;
			margin-top: -8px;
		}
	}

	a.fileinput-exists {
		float: right;
		margin-left: 5px;
		margin-top: 5px;
	}
}

.fileinput {
	margin-bottom: 0;

	&.error {
		.form-control {
			border-color: #B94A48 !important;
		}
	}
}

.fileinput {
	.thumbnail {
		min-width: 100px;
		min-height: 100px;
		max-width: 150px;
		max-height: 150px;
	}
}

.fileinput-filename {
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 170px;
}

.search {
    background: #f6f6f6 url("../img/search-icon.png") no-repeat 10px 8px;
}

#page-loader {
	width: 50px;
	background: transparent;
	height: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}

.select2-container {
	&.error {
		.select2-choice {
			border-color: #B94A48 !important;
		}
	}
}

.form-error {
	color: #B94A48;

	text-align: center;

	&:empty {
		display: none;
	}
}

ul.sidebar-menu li {
	a.disabled {
		color: #767676;
		background: none;

		i {
			color: #767676;
		}
	}
}

.tab-pane {

	.timeline {

		&.negotiations {
			margin-top: 20px;

			.negotiations-item {
				display: table-row-group;

				p.text {
					white-space: pre-wrap;
					text-align: left;
				}
			}

			.timeline-item {

				.panel {
					background: #DFF0D8;

					.arrow {
						border-right-color: #DFF0D8 !important;
					}
				}

				&.alt {
					.panel {
						background: #D9EDF7;

						.arrow-alt {
							border-left-color: #D9EDF7 !important;
						}
					}
				}

				.timeline-date {
					display: block;
				}
			}
		}
	}
}