.dropzone-control {

    .dropzone-zone {
        background-color: #fff;
        padding: 100px 50px;
        margin-bottom: 30px;
        border: 5px dashed #F1F2F7;
        border-radius: 3px;
        text-align: center;
        text-transform: uppercase;

        font-size:16px;
        font-weight:bold;
        color:#7f858a;
    }
}