.form-signin {
	.login-wrap {
		label.checkbox {
			margin-top: 10px;
			padding-left: 20px;
			padding-top: 0;
			min-height: 0;

			input {
				position: static;
				float: left;
			}
		}

		.form-group {
			margin-left: 0;
			margin-right: 0;

			input[type="text"], input[type="password"] {
				margin-bottom: 0;
			}

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}