.multiinput {

	.controls {
		.btn-group {
			margin-top: 5px;
		}
	}

	.multiinput-items-container {

		border-top: 1px solid #EEEEEE;
		margin-top: 10px;
		padding-top: 15px;

		&:empty {
			display: none;
		}

		.multiinput-item {
			border-top: 1px solid #EEEEEE;
			padding-top: 15px;

			&:first-child {
				border-top: none;
				padding-top: 0;
			}
		}
	}
}