.row.controls
	.col-lg-12
		.btn-group.pull-right
			button.btn.btn-primary.btn-xs.addItem
				i.fa.fa-plus
				|  <%-i18n.t(data.addButtonText)%>

			button.btn.btn-primary.btn-xs.toggle
				i.fa.fa-chevron-up
		p.form-control-static.info

.multiinput-items-container