.form-group
	label(for="timestamp").col-lg-3.col-sm-3.control-label <%-i18n.t('common:datetime')%>
	.col-lg-9
		input#timestamp.form-control.datetimepicker(type="text", placeholder!="<%-i18n.t('common:datetime')%>")

.form-group
	label(for="good").col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.good')%>
	.col-lg-9
		input#good.form-control.select2(type="text", placeholder!="<%-i18n.t('common:entities.good')%>")

.form-group
	label(for="shop").col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.shop')%>
	.col-lg-9
		input#shop.form-control.select2(type="text", placeholder!="<%-i18n.t('common:entities.shop')%>")

.form-group
	label(for="price").col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.price')%>
	.col-lg-9
		input#price.form-control(type="text", placeholder!="<%-i18n.t('common:entities.price')%>")

.form-group
	label(for="prevPrice").col-lg-3.col-sm-3.control-label <%-i18n.t('common:prevPrice')%>
	.col-lg-9
		input#prevPrice.form-control(type="text", placeholder!="<%-i18n.t('common:prevPrice')%>")

.form-group.form-buttons
	.col-lg-offset-3.col-lg-9
		button.btn.btn-info(type="submit") <%-i18n.t('common:actions.save')%>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.cancel')%>