.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:datetime')%>
	.col-lg-9
		p.form-control-static <%-moment(data.timestamp).format(i18n.t("common:locale.datetime"))%>

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.shop')%>
	.col-lg-9
		p.form-control-static <%-data.shop.name%>

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.good')%>
	.col-lg-9
		p.form-control-static <%-data.good.name%>

.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:entities.price')%>
	.col-lg-9
		p.form-control-static <%-data.price%>

| <% if(data.prevPrice) { %>
.form-group
	label.col-lg-3.col-sm-3.control-label <%-i18n.t('common:prevPrice')%>
	.col-lg-9
		p.form-control-static <%-data.prevPrice%>
| <% } %>

.form-group
	.col-lg-offset-3.col-lg-9
		| <% if(helpers.checkPermissions("prices.edit")) { %>
		a(href!="/prices/<%-data.id%>/edit").btn.btn-info <%-i18n.t('common:actions.edit')%>
		| <% } %>
		a(href="#").btn.btn-link.back <%-i18n.t('common:actions.close')%>